<div>
  <div>
    <form class="form-task">
      <mat-form-field class="task-input" appearance="fill">
        <mat-label>Inserisci il Task</mat-label>
        <input
          #task
          matInput
          placeholder="Sviluppare il codice"
          required
          ngModel
          name="taskInput"
        />
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="onSubmit(task.value)">
        Start
      </button>
    </form>
  </div>

  <ul>
    <li *ngFor="let task of tasks">{{ task }}</li>
  </ul>
</div>
