<div>
  <div>
    <form class="form-task">
      <mat-form-field class="task-input" appearance="fill">
        <mat-label>Inserisci il Task</mat-label>
        <input
          #task
          matInput
          [formControl]="taskFormControl"
          placeholder="Sviluppare il codice"
          required
          ngModel
          name="taskInput"
        />
        <mat-error *ngIf="taskFormControl.hasError('required')">
          Task is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button
        *ngIf="button; else loading"
        mat-stroked-button
        color="primary"
        (click)="onSubmit(task.value)"
        [disabled]="taskFormControl.hasError('required')"
      >
        Start
      </button>

      <ng-template #loading>
        <button mat-stroked-button color="primary">Stop</button>
      </ng-template>
    </form>
  </div>

  <ul>
    <li *ngFor="let task of tasks">{{ task }}</li>
  </ul>
</div>
